#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}
.form_inputs {
  display: flex;
  flex-direction: row;
}
.form__inputs_left {
  margin-right: 25px;
  justify-content: space-between;
}
.form__inputs_left, .form__inputs_right  {
  display: flex;
  flex-direction: column;
}
.form__inputs_date {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form__input_time {
  width: min-content;
  margin: 0 5px;
}
.form__input_text {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.from__input_comms {
  height: 30px;
  min-width: 100%;
}
.form_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px
}